<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link th:href="@{styles/index.css}" rel="stylesheet" />
    <link th:href="@{styles/register.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand d-flex flex-column align-item-start" id="sidebar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand text-dark
   mt-5">
        <img class="display-5" th:src="@{/image/Logo-MFEC.png}" width="200" height="100" alt="image">
    </a>
    <ul class="navbar-nav d-flex flex-column mt-5 w-100">
        <li class="nav-item w-100">
            <a href="/about" class="nav-link text-dark
       pl-4">About Us</a>
        </li>
        <li class="nav-item w-100">
            <a href="/contract" class="nav-link text-dark
       pl-4">Contract Us</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'loginMode'">
            <a href="/lesson" class="nav-link text-dark pl-4">Lesson</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'loginMode'">
            <a href="/timesheet" class="nav-link text-dark pl-4">TimeSheet</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'loginMode'">
            <a href="/profile" class="nav-link text-dark pl-4">Profile</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'logoutMode'">
            <a href="/register" class="nav-link text-dark
       pl-4">Registration</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'logoutMode'">
            <a href="/login" class="nav-link text-dark
       pl-4">Login</a>
        </li>
        <li class="nav-item w-100" th:if="${mode} == 'loginMode'">
            <a href="/logout" class="nav-link text-dark pl-4">Logout</a>
        </li>
    </ul>
</nav>
<section class="p-4 my-container">
    <i class="fa-solid fa-bars my-4" id="menu-btn"></i>
    <div class="container" style="background-color: rgba(0,0,0,.03)">
        <h2>TimeSheet</h2>
    </div>
    <div class="container h-100 d-flex flex-column justify-content-center align-items-start">
        <a href="/timesheetSave" class="btn btn-primary" style="margin-top: 50px; margin-bottom: 20px;"  >Add New TimeSheet</a>
        <table class="table table-hover table-bordered ">
            <thead class="table-primary">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Date/Month/Years</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Activity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="timesheet : ${TimeSheetEntity}">
                <td th:text="${timesheet.getId()}">No</td>
                <td th:text="${timesheet.getDate()}">Date/Month/Years</td>
                <td th:text="${timesheet.getStartTime()}">Start Time</td>
                <td th:text="${timesheet.getEndTime()}">End Time</td>
                <td th:text="${timesheet.getActivity()}">Activity</td>
            </tr>
            </tbody>
        </table>

    </div>

</section>


<!-- bootstrap js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
<!-- custom js -->
<script>
    var menu_btn = document.querySelector("#menu-btn")
    var sidebar = document.querySelector("#sidebar")
    var container = document.querySelector(".my-container")
    menu_btn.addEventListener("click", () => {
        sidebar.classList.toggle("active-nav")
        container.classList.toggle("active-cont")
    })
</script>
</body>
</html>